
@media only screen and (max-width: 639px) { 
  #search-button {
    border-radius: 50px;
    border-width: 2px;
    border-color: #132059;
    margin: 0px;
  }
  #searcher-img {
    background-color: rgb(48, 54, 141);
    border-radius: 50px;
    width: 7px;
    height: 8px;
    padding: 2px;
    padding-top: 2.3px;
  }
}

@media only screen and (min-width: 640px)
and (max-width: 1149px) {
  #search-button {
    border-radius: 50px;
    border-width: 3px;
    border-color: #132059;
    margin: 0px;
}

#searcher-img {
    background-color: rgb(48, 54, 141);
    border-radius: 50px;
    width: 10px;
    height: 12px;
    padding: 5px;
  }
} 

@media only screen and (min-width: 1150px) {
  #search-button {
    border-radius: 50px;
    border-width: 5px;
    border-color: #132059;
    transition: background-color 3 ease;
  }

  #searcher-img {
    background-color: rgb(48, 54, 141);
    width: 14px;
    height: 15px;
    margin: 5px;
    padding: 5px;
  }
}