#search-button {
  padding: 0;
  border: none;
  background: none; 
}

@media only screen and (max-width: 639px) { 
  #search-button {
    margin: 0px;
  }
  
  #searcher-img {
    width: 12px;
    height: 11px;
  }
}

@media only screen and (min-width: 640px)
and (max-width: 1149px) {
  #search-button {
    margin: 0px;
  }

  #searcher-img {
    width: 22px;
    height: 21px;
    padding-right: 3px;
  }
} 

@media only screen and (min-width: 1150px) {
  #search-button {
    padding-right: 15px;
    padding-bottom: 5px;
  }

  #searcher-img {
    width: 28px;
    height: 28px;
  }
}

@media only screen and (min-width: 1800px) {
  #searcher-img {
    width: 31px;
    height: 31px;
  }
}