@media only screen and (max-width: 639px) { 
  .sidebar-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid white;
    width: 100%;
  }

  #sidebar-heading {
    z-index: 2;
    margin: 0px;
    color: #fff;
    font-size: 20px;
    padding-left: 15px;
    padding-bottom: 3px;
  }

  #exit-button {
    background: none;
    border: none;
  }

  #exit-img {
      width: 19px;
      height: 20px;
  } 
}

@media only screen and (min-width: 640px) 
and (max-width: 1149px) { 
  .sidebar-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    border-bottom: 2px solid white;
    width: 100%;
  }

  #sidebar-heading {
    z-index: 2;
    margin: 0px;
    color: #fff;
    font-size: 24px;
    padding-left: 10px;
    padding-bottom: 5px;
  }

  #exit-button {
    background: none;
    border: none;
  }

  #exit-img {
      width: 22px;
      height: 23px;
  } 
} 

@media only screen and (min-width: 1150px) {
  .sidebar-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    border-bottom: 2px solid white;
    width: 22vw;
    padding: 5px 0px 5px 0px;
  }

  #sidebar-heading {
      z-index: 2;
      margin: 0px;
      color: #fff;
      font-size: 20px;
      width: 220px;
  }

  #exit-button {
    background: none;
    border: none;
  }

  #exit-img {
      width: 22px;
      height: 23px;
  } 
}

@media only screen and (min-width: 1800px) {
  #sidebar-heading {
    font-size: 25px;
  }

  #exit-img {
      width: 24px;
      height: 26px;
  } 
}