#town {
  color: white;
}

#restore-button {
  border-radius: 25px;
  background-color: black;
  color: white;
  border-style: solid;
}

#restore-button:hover {
  background-color: rgb(84, 73, 248);
  color: rgb(14, 14, 14);
}

.browsed-city {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 50px;
  background-image: linear-gradient(rgb(47, 142, 47), rgb(10, 173, 244));
  border: 2px solid rgb(255, 255, 255); // rgb(44, 244, 204)
}

@media only screen and (max-width: 639px) { 
  .browsed-city {
    width: 30vw;
    height: 6vh;
    margin-bottom: 10px;
    font: 30px;
    font: 30px;
  }

  .restore-button {
    display: flex;
    border-width: 2px;
    border-style: solid;
    max-width: 55px;
    flex-wrap: wrap;
    margin-right: 2px;
  }
}

@media only screen and (min-width: 640px) {
  .browsed-city {
    width: 22vw;
    height: 5vh;
    margin-bottom: 10px;
    font: 30px;
    font: 30px;   
  }

  .restore-button {
    border-width: 3px;
  }  
} 

@media only screen and (min-width: 1150px) {
  .browsed-city {
    width: 13vw;
    height: 6vh;
    margin-bottom: 10px;
    font: 30px;
    font: 30px;
  }

  .restore-button {
    border-width: 2px;
  }
}