
@media only screen and (max-width: 639px) { 
  .sidebar-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    border-bottom: 2px solid white;
    width: 30vw;
  }

  #sidebar-heading {
      z-index: 2;
      margin: 0px;
      color: #fff;
      font-size: 12px;
  }

  #exit-button {
      display: flex;
      align-items: center;
      margin: 0px;
      width: 33px;
      height: 30px;
      border-radius: 50px;
      border: 1px solid rgb(255, 135, 135);
      margin-bottom: 5px;
  }

  #exit-img {
      width: 19px;
      height: 20px;
  } 
}

@media only screen and (min-width: 640px) 
and (max-width: 1149px) { 
  .sidebar-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    border-bottom: 2px solid white;
    width: 26.5vw;
  }

  #sidebar-heading {
      z-index: 2;
      margin: 0px;
      color: #fff;
      font-size: 18px;
  }

  #exit-button {
      display: flex;
      align-items: center;
      margin: 0px;
      width: 36px;
      height: 33px;
      border-radius: 50px;
      border: 1px solid rgb(255, 135, 135);
      margin-bottom: 5px;
  }

  #exit-img {
      width: 22px;
      height: 23px;
  } 
} 

@media only screen and (min-width: 1150px) {
  .sidebar-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    border-bottom: 2px solid white;
    width: 15vw;
  }

  #sidebar-heading {
      z-index: 2;
      margin: 0px;
      color: #fff;
      font-size: 22px;
      width: 220px;
  }

  #exit-button {
      display: flex;
      align-items: center;
      margin: 0px;
      width: 36px;
      height: 33px;
      border-radius: 50px;
      border: 1px solid rgb(255, 135, 135);
      margin-bottom: 5px;
  }

  #exit-img {
      width: 22px;
      height: 23px;
  } 
}