


@media only screen and (max-width: 639px) { 
  .weather-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    height: 18vh;
    max-width: 80vw;
}

  .weather-forecast-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80vw;
      height: 7vh;
  }

  #weather-details {
      margin: 0px;
  }

  .line {
      display: flex;
      justify-content: space-between;
      width: 75vw;
      height: 10vh;
  }

  .left-part {
      display: flex;
      justify-content: center;
  }

  .weather-img {
      height: 50px;
      width: 50px;
  }

  .hour-weather {
      display: flex;
      flex-wrap: wrap;
      width: 12vw;
      height: 9vh;
      font-size: 18px;
      opacity: 0.8;
      padding-left: 10px;
  }

  #current-time {
      font-size: 20px;
      margin: 0px;
  }

  #weather-description {
      margin: 0px;
      width: 12vw;
      font-size: 13px;
      padding-bottom: 15px
  }

  .forecast-temp {
      margin: 0px;
      font-size: 24px;
      opacity: 0.7;
      padding-top: 10px;
  }
}


@media only screen and (min-width: 640px)
and (max-width: 1149px) {
  .weather-container {
    display: flex;
    flex-direction: column;
    width: 40vw;
  }

  .weather-forecast-container {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 45vw;
      height: 4vh;
  }

  #line1 {
      display: flex;
      align-items: start;
      justify-content: space-between;
      width: 39vw;
      height: 8vh;
  }

  .left-part {
      display: flex;
      justify-content: space-between;
      width: 100px;
  }

  .weather-img {
      height: 48px;
      width: 48px;
  }

  .hour-weather {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      width: 8vw;
      height: 5vh;
      min-width: 80px;
      max-width: 70px;
      font-size: 18px;
      opacity: 0.8;
  }

  #current-time {
      margin: 0px;
      min-width: 50px;
  }

  #weather-description {
      margin: 0px;
      font-size: 15px;
      min-width: 40px;
      padding-right: 5px;
  }

  .forecast-temp {
      margin: 0px;
      font-size: 24px;
      opacity: 0.7;
      padding-top: 5px;
  }
} 


@media only screen and (min-width: 1150px) {
  .weather-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 30vh;
    max-width: 26vw;
  }
  
  .weather-forecast-container {
    display: flex;
    align-items: center;
    max-width: 18vw;
    height: 10vh;
  }
  
  .line {
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 25vw;
    height: 10vh;
  }
  
  .left-part {
    display: flex;
    justify-content: space-between;
    width: 150px;
  }
  
  .weather-img {
    height: 48px;
    width: 48px;
  }
  
  .hour-weather {
    display: flex;
    flex-wrap: wrap;
    width: 6vw;
    max-width: 50px;
    height: 6vh;
    font-size: 18px;
    opacity: 0.8;
    padding-top: 5px;
    padding-right: 120px;
  }
  
  #current-time {
    margin: 0px;
  }
  
  #weather-description {
    margin: 0px;
  }
  
  .forecast-temp {
    font-size: 24px;
    opacity: 0.7;
  }
}