#clear-history-btn {
  position: absolute;
  display: flex;
  border: 2px solid white;
  border-radius: 5px;
  background-image: linear-gradient(to top, red, rgb(247, 151, 167));
  bottom: 20px;
}

#clear-history-btn:hover {
  background-image: linear-gradient(to bottom, red, purple);
}

#clear-text {
  margin: 0px;
  color: white;
  display: flex;
  justify-content: center;
  width: 100%;
}

@media only screen and (max-width: 639px) { 
  #clear-history-btn {
    left: 7vw;
  }  

  #clear-text {
    font-size: 15px;
  }
}

@media only screen and (min-width: 640px) 
and (max-width: 1149px) {  
  #clear-history-btn {
    left: 70px;
  }

  #clear-text {
    font-size: 20px;
  }
} 

@media only screen and (min-width: 1150px) {
  #clear-history-btn {
    width: 82%;
    bottom: 20px;
  }

  #clear-text {
    font-size: 20px;
  }
}