#search-text {
  border: none;
  background: none;
  color: white;
}

#search-text:focus,
#search-text:active {
  background-color: none;
}

@media only screen and (max-width: 639px) { 
  #search-text {
    display: flex;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 12px;
    opacity: 0.7;
    margin-bottom: 4x;
    border: none;
    width: 28vw;
  }

  #search-text::placeholder {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 12px;
    color: white;
    opacity: 0.7;
  }
  
  #search-text[type="text"]:focus {
    color: white;
    border: none;
    outline: none;
  }
}

@media only screen and (min-width: 640px)
and (max-width: 1149px) {
  #search-text {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    color: white;
    opacity: 0.8;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    border: none;
    width: 22vw;
    
  }

  #search-text::placeholder {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    color: white;
    opacity: 0.8;
    font-size: 18px;
    font-weight: 500;
  }

  #search-text[type="text"]:focus {
    color: white;
    border: none;
    outline: none;
  }
} 

@media only screen and (min-width: 1150px) {
  #search-text {
    display: flex;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    color: white;
    font-size: 20px;
    font-weight: 400;
    width: 18vw;
    text-shadow: 1px 1px 0 #000,
    1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
    padding-bottom: 3px;
  }

  #search-text::placeholder {
    color: white;
    font-size: 20px;
    font-weight: 400;
    opacity: 0.7;
    text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
  }

  #search-text[type="text"]:focus {
    color: white;
    border: none;
    outline: none;
  }
}


@media only screen and (min-width: 1800px) {
  #search-text {
    font-size: 23px;
  }

  #search-text::placeholder {
    font-size: 23px;
  }
}