@media only screen and (max-width: 639px) {
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 76vw;
    height: 6vh;
  }

  .w-characteristics {
      opacity: 0.7;
      width: 23vh;
  }

  .icons {
      max-height: 23px;
  }
}

@media only screen and (min-width: 640px) {
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40vw;
    height: 4.4vh;
  }

  .w-characteristics {
      opacity: 0.7;
      margin: 0px;
      width: 22vh;
  }

  #value {
    padding-right: 8px;
  }

  .icons {
    width: 18px;
    height: 23px;
  }
} 

@media only screen and (min-width: 1150px) {
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 76vw;
    height: 6vh;
  }

  .w-characteristics {
      opacity: 0.7;
      width: 23vh;
  }

  #value {
    display: flex;
    justify-content: end;
    width: 90px;
    font-size: 18px;
    margin: 0;
  }

  .icons {
    height: 28px;
    width: 24px;
  }
}