#history-button {
  padding: 0px;
  border: none;
  background: none;
}

@media only screen and (max-width: 639px) { 
  #h-image {
    width: 10px;
    height: 10px;
  }
}

@media only screen and (min-width: 640px)
and (max-width: 1149px) {
  #h-image {
    width: 19px;
    height: 21px;
  }
} 

@media only screen and (min-width: 1150px) {
  #history-button {
    padding-bottom: 2px;
  }
  
  #h-image {
    width: 30px;
    height: 30px;
  }
}
